<%
   msg = message.body
   msg ||= ""
%>
<li style="display:none" id="message_<%=message.id%>" data-message-id="<%= message.id %>" data-message="<div style='<%=polaroid_font_size(msg)%>'><%= message.body %></div>" data-src="<%= message.photo(:large).to_s %>">
  <img src="<%= message.photo(:large).to_s %>" onload="bounceIn('#message_<%=message.id%>')" />
</li>