
<!-- Start of second page -->
<div id="show_message" data-role="page" data-theme="w">
  <div data-role="header" data-theme="b" data-position="fixed">
    <%= image_tag("logo.png") %>
    <%= link_to 'Upload New', "#{mobile_root_path}", :data => {'transition' => 'slide', 'prefetch' => true, :theme => 'a'}, :class => 'ui-btn-right' %>
  </div>

  <div role="main" class="ui-content" data-theme="d">

    <!-- Maintain an aspect ratio of width x height (9:10), but do not exceed width of 750px -->
    <div id="polaroid_container" class="loadingImages">
        <div id="photo">
          <div id="black_bg">
            <%= image_tag @message.photo(:large), :onload=>"fadeInImage(this),aspectFit(this)", :class=> "fadeInImage loading display_photo" %>
          </div>
          <div id="message"> <div class="polaroid_message"><%=@message.body%></div> </div>
        </div>
        <div id="polaroid_bg">&nbsp; </div>
      </div>
    </div>

  </div>

</div>

<% if @page_id == "show_message" %>
    <%= content_for :header do %>
    <script>
        $(document).on('pageload', '#show_message', function (event) {
            setTimeout(function () {
                $.mobile.loading('show', {
                    text: "Image successfully uploaded!",
                    textVisible: true,
                    textonly: true,
                    theme: 'a',
                    html: ""
                });


                setTimeout(function () {
                    $.mobile.loading('hide');
                }, 2000);

            }, 0);
        });
    </script>
    <% end %>
<% end %>