
<!-- Start of second page -->
<div data-role="page" data-theme="w">
  <div data-role="header" data-theme="b" data-position="fixed">
    <%= image_tag("logo.png") %>
    <%= link_to 'Upload', "#{mobile_root_path}", :data => {'transition' => 'slide', 'prefetch' => true}, :class => 'ui-btn-right' %>
  </div>

  <div role="main" class="ui-content" data-theme="d">

    <!-- Maintain an aspect ratio of width x height (9:10), but do not exceed width of 750px -->
    <div id="polaroid_container" class="loadingImages">
      <div id="maintain_aspect_ratio">
        <div id="photo">
          <div id="black_bg">
            <%= image_tag @message.photo(:large), :onload=>"fadeInImage(this),aspectFit(this)", :class=> "fadeInImage loading", :id => "display_photo" %>
          </div>
        </div>
        <div id="polaroid_bg">
            <div id="message">
              <div><%=@message.body%></div>
            </div>
        </div>
      </div>
    </div>

    <!--
    <div id="photo_container" class="loadingImages">
      <div id="polaroid_mask">
        <%= image_tag @message.photo(:medium), :onload=>"fadeInImage(this)", :class=> "fadeInImage loading", :id => "message_photo" %>
      </div>
      <%= image_tag "/images/polaroid.png", :onload=>"fadeInImage(this)", :class=> "fadeInImage loading", :id => "polaroid_image" %>
      <div id="photo_message">
        <%= text_area_tag :body, @message.body, label: false, as: :text, :disabled => true, :class => "polaroid_message" %>
      </div>
    </div>

    -->

  </div>

</div>
