<!DOCTYPE html>
<html>
<head>
  <title>SnappyGuests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div data-role="page" data-theme="<%= content_for?(:theme) ? yield(:theme) : "c"%>">
      <div data-role="header" data-theme="b" data-position="fixed">
        <img src="/assets/logo.png"/>
      </div>
      <div role="main" class="ui-content" data-theme="d">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
      <% if content_for?(:footer) %>
          <div data-role="footer" data-theme="b" data-position="fixed">
            <%= yield :footer %>
          </div>
      <% end %>
    </div>
</body>
</html>